:host {
  display: block;
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
}

h1 {
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  border: none;
  padding: 5px 0;
  vertical-align: top;
}

td:first-child {
  width: 200px;
  white-space: nowrap;
}

.app-colon {
  font-weight: bold;
  color: rgb(29, 128, 95);
  float: right;
  margin-right: 10px;
}

b {
  font-weight: 600;
}
