a {
  color: var(--app-primary-color);
  text-decoration: none;
  border: 1px solid var(--app-primary-color);
  border-radius: 4px;
}

a.-st-active {
  background-color: var(--app-surface-container-color);
}
